.scroll-content {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 2rem 0rem 2.5rem 0rem;
  max-width: 100%;
  max-height: 70vh;

  .filters-routes-column {
    display: flex;
    padding-bottom: 10px;

    .text-filters {
      padding-left: 10px;
    }

    .small-3 {
      flex: 0 0 30%;
      max-width: 30%;
      position: relative;
      padding: 0px;
      margin: 0px;

      .route-no {
        color: #fff;
        font-size: 24px;
        background: #3597e4;
        border-radius: 10px;
        padding: 15px;
        font-weight: 600;
      }
    }

    .small-7 {
      flex: 0 0 65%;
      max-width: 65%;
      position: relative;
      color: #000;
      font-size: 14px;
      font-weight: 600;

      .code-route {
        font-size: 14.5px;
        &:hover {
          color: #3597e4;
        }
      }
    }

    .small-2 {
      flex: 0 0 15%;
      max-width: 15%;
      position: relative;
    }
  }

  .travel-location {
    .small-3 {
      flex: 0 0 30%;
      max-width: 30%;
      position: relative;
      padding: 10px;

      .route-no {
        color: #fff;
        background: #3597e4;
        border-radius: 10px;
        padding: 15px;
        font-weight: 600;
        font-size: 20px;
        background: #2247c7;
      }
    }

    .small-7 {
      flex: 0 0 50%;
      max-width: 50%;
      position: relative;
      color: #000;
      font-size: 14px;
      font-weight: 600;

      .code-route {
        font-size: 14.5px;
        &:hover {
          color: #3597e4;
        }
      }
    }

    .small-2 {
      flex: 0 0 10%;
      max-width: 10%;
      position: relative;
    }
  }

  .small-3 {
    flex: 0 0 30%;
    max-width: 30%;
    position: relative;
    padding: 10px;

    .route-no {
      color: #fff;
      background: #3597e4;
      border-radius: 10px;
      padding: 15px;
    }
  }

  .small-7 {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    color: #000;
    font-size: 14px;
    font-weight: 600;

    .code-route {
      font-size: 14.5px;
      &:hover {
        color: #3597e4;
      }
    }
  }

  .small-2 {
    flex: 0 0 10%;
    max-width: 10%;
    position: relative;
  }
}
