.popup-form {
  max-width: 250px;
  max-height: 150px;
  background-color: #fff;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 2px 7px 1px rgb(0 0 0 / 30%);
  border: 1px solid #0876c8;
  font-size: 14px;
  font-weight: 600;

  &::after {
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 51%,
      rgba(255, 255, 255, 0) 100%
    );
    box-shadow: -2px 2px 2px 0 rgb(178 178 178 / 40%);
    content: '';
    height: 15px;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%) rotate(135deg);
    width: 15px;
    border-bottom: 1px solid #0876c8;
    border-left: 1px solid #0876c8;
  }

  .mapboxgl-popup-content {
    box-shadow: 0 0px 0px;
    margin: 0px;

    .mapboxgl-popup-close-button {
      font-size: 0px;
    }

    .popup-content-custom {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}
